<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css' type='text/css' media='all'>
        <title>ScRaBbLe!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Let's Play Scrabble!</h1>
            <h3>Enter a word and we'll calculate your score.</h3>
            <form action='/score'>
                <div class='form-group'>
                    <label for='word'>Your Word:</label>
                    <input id='word' name='word' type='text' class='form-control' maxlength='7'>
                </div>
                <button type='submit' class='btn btn-warning btn-lg'>See Your Score</button>
            </form>
        </div>
    </body>
</html>
