<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/score.styles.css' type='text/css' media='all'>
        <title>Scrabble Score</title>
    </head>
    <body>
        <div class='container'>
            <h1>Your score is...</h1>
            <h2>{{ score }}</h2>
        </div>
    </body>
</html>
