body{
    background-image: url("http://i.guim.co.uk/img/media/d592f920981f982675ec136ddb99729454346a03/0_24_640_384/master/640.jpg?w=1200&q=85&auto=format&sharp=10&s=ee7da2bb4f31162e646de0a9111ab9b7");
    background-size: 100% 100%;
    text-align: center;
    color: D91E36;
    font-size: 100px;
    font-family: fantasy;
}
